@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Kalnia+Glaze:wght@100..700&family=Sixtyfour+Convergence&display=swap');

h1{
    text-align: center;
    color: blueviolet;
    font-family: kalnia glaze, sans-serif;
    /* this is supposed to be Kalnia Glazed font*/

    
}
body{
    background-image: url('14154.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
cursor{
    cursor: url('—Pngtree—human organ nose_4712578.png');
}

button{
    font-size: medium;
    color: green;
    font-family: sixtyfour
    convergence, sans-serif; 
    
}

div{
    text-align: center;
    color: blueviolet;
}


p{
    text-align: center;
    border: palevioletred;
    font-size: medium;

}