@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wdth,wght@125,100..700&display=swap');

Users/toninah/code/ga/projects/smell-the-roses-game/rose.jpeg
/Users/toninah/code/ga/projects/smell-the-roses-game/bouquetrs.jpeg

h1{
    text-align: center;
    color: blueviolet;
    font-family: 'kalnia glaze', sans-serif;
    
    /* this is supposed to be Kalnia Glazed font*/

    
}
body{
    background-image: url('14154.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blueviolet;
    cursor: url('—Pngtree—human organ nose_4712578.png'); auto


#flowerCounter{
    position:absolute;
    top: 10px;
    right: 10px;
    font-style: 20 px;
    background-color: rgba(133, 35, 133, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    /* w3school.com "border" */
}
#gameContainer {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 400 px;
}

}
/* cursor{ */
    /* cursor: url('—Pngtree—human organ nose_4712578.png'); auto */

button{
    width: 45px;
    height: 45px;
    background-image: url(ulrose.jpeg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
    margin-top: 10px;
    display:inline-block;
    
}

div{
    text-align: center;
    color: blueviolet;
}


p{
    text-align: center;
    border: palevioletred;
    font-size: medium;

}